* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    border: 0;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Lato', sans-serif;
}

header {
    background: rgba(229, 84, 115, 0.10);
    width: 100%;
    height: auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75.05208333333333%;
    margin: 0 auto;
}

.left {
    flex-basis: 50%;
}

.right {
    flex-basis: 50%;
}

.left h1 {
    margin-bottom: 32px;
    color: #272727;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 100%;
}

.left p {
    margin-bottom: 32px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 634px;
}

.hero-btn {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 20px 43px;
}

.right {
    margin-top: 50px;
    width: 635px;
    height: 800px;
}

.flowers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75.05208333333333%;
    margin: 120px auto 0 auto;
    /* margin-right: 20px; */
}

.flowers h2 {
    text-align: center;
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    /* margin-bottom: 24px; */
}

.flowers p {
    text-align: center;
    width: 594px;
    margin: 0 auto;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.items img {
    border-radius: 300px 300px 0px 0px;
    width: 370px;
    height: 450px;
    padding: 40px 40px 0 40px;
}

.items .img1 {
    background: rgba(167, 33, 98, 0.15);
}

.items .img2 {
    background: rgba(5, 151, 160, 0.15);
}

.items .img3 {
    background: rgba(71, 125, 17, 0.15);
}

.item p {
    margin-top: 32px;
    width: 100%;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.support {
    width: 75.05208333333333%;
    margin: 100px auto;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 86px 120px;
}

.sup-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 100px;
}

.img-box img {
    margin-bottom: 24px;
}

.img-box h5 {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: 'Lato';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.hot-deal {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    width: 100%;
    height: 620px;
    margin: 128px 0;
}

.deal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75.05208333333333%;
    gap: 100px;
    margin: 0 auto;
    padding: 90px;
}

.deal .text {
    flex-basis: 70%;
    text-align: center;
}

.deal .img {
    flex-basis: 30%;
    text-align: center;
}

.deal .text h2 {
    margin-bottom: 24px;
    color: #272727;
    font-family: 'Lato';
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.deal .text p {
    margin-bottom: 32px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: 'Lato';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.color {
    color: #E55473;
}

.deal .text button {
    padding: 17px 35px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.insta {
    width: 75.05208333333333%;
    margin: 0 auto;
}

.insta h2 {
    color: #272727;
    text-align: center;
    font-family: 'Lato';
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}

.insta p {
    width: 594px;
    margin: 0 auto;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: 'Lato';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}

.images {
    display: flex;
    gap: 24px;
}

.images img {
    width: 23.42%;
    height: fit-content;
}

/* News letter section */
.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75.05208333333333%;
    height: 449px;
    margin: 128px auto;
    background-image: url('../Flower Asset/Rectangle\ 9.png');
    border-radius: 8px;
    background-repeat: no-repeat;
}

.sub-div {
    text-align: center;
}

.sub-div h2 {
    color: #272727;
    text-align: center;
    font-family: 'Lato';
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.sub-div p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: 'Lato';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}

input[type=email] {
    width: 500px;
    height: 64px;
    padding: 22px;
    color: rgba(39, 39, 39, 0.60);
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 8px;
    background: #FFF;
}

input[type=email]:focus {
    outline: none;
}

input[type=submit] {
    cursor: pointer;
    color: #FFF;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 14px;
    border-radius: 8px;
    background: #E55473;
    width: 150px;
    height: 64px;
    margin-left: 10px;
}

.footer-area {
    background: #111010;
    width: 100%;
    height: 449px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.foot-div {
    text-align: center;
}

.footer-area .foot-div h3 {
    color: #FFF;
    font-family: 'Lato';
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}

.color2 {
    color: #E55473;
    font-family: 'Lato';
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.footer-area .foot-div h4 {
    width: 625px;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: 'Lato';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}

.footer-area .foot-div .copy {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}